server {
    listen @LISTEN@;
    server_name @DOMAIN@;
@TLS@
    include snippets/security-headers.conf;
    location ^~ /.well-known/acme-challenge/ {
        root /var/www/acme;
        default_type text/plain;
        try_files $uri =404;
    }
    location / {
        include snippets/proxy-common.conf;
@WEBSOCKET@
@BACKEND_TLS@
        proxy_pass @BACKEND_URL@;
    }
}
@REDIRECT@
